{% layout "general" %}
{% block content %}
	<div class="content general">
		<div class="body">
			<h1>Reset password</h1>
			<p>Enter your new password.</p>
			<section class="section">
				<form method="POST">
					<input type="text" maxlength="50" placeholder="Username or Email address">
					<button type="submit">Confirm</button>
				</form>
			</section>
		</div>
	</div>
{% endblock %}