{% layout "general" %}
{% block content %}
	<div class="content general">
		<div class="body">
			<h1>Reset your password</h1>
			<p>Enter your username or email address and we'll send you an email with instructions on how to reset your password.</p>
			<section class="section">
				<form method="POST">
					<span class="msg">Thank you, an email with instructions has been sent</span>
					<input type="text" placeholder="Username or Email address">
					<button type="submit">Confirm</button>
				</form>
			</section>
		</div>
	</div>
{% endblock %}